@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.headL {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 71px;
}
.headM {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 31px;
}
.headS {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 26px;
}
.headXS {
  font-family: "Space Grotesk", serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
}
.bodytext {
  font-family: "Space Grotesk", serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
}

/*
.pvcpu {
}
.pvcpu:hover {
  border-color: #5c2dd5;
}
.pvplayer {
}
.pvplayer:hover {
  border-color: #5c2dd5;
}

.continuegame {
}
.continuegame:hover {
  border-color: #5c2dd5;
}
.quitgame {
}
.quitgame:hover {
  border-color: #5c2dd5;
}

.menu {
}
.menu:hover {
  border-color: #5c2dd5;
}
.checkmark {
}
.checkmark:hover {
  border-color: #5c2dd5;
}
*/

body {
  background-color: #7945ff;
  padding: 5%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.navbtns {
  background-color: #5c2dd5;
  border: none;
  border-radius: 20px;
  color: #ffffff;
}

.playerscore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top: 3px;
  border-right: 3px;
  border-left: 3px;
  border-bottom: 10px;
  border-color: #000000;
  border-style: solid;
  border-radius: 20px;
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;
}
.playericon {
  position: relative;
  bottom: 30px;
}
.sectionmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2.5%;
  background-color: #ffffff;
  gap: 10px;
  border-top: 3px;
  border-right: 3px;
  border-left: 3px;
  border-bottom: 10px;
  border-radius: 20px;
  border-color: #000000;
  border-style: solid;
  padding-bottom: 5%;
}
.gamecol {
  display: grid;
  grid-template-rows: repeat(6, 50px);
  grid-template-columns: repeat(1, 50px);
  gap: 10px;
}
.token {
  background-color: #7945ff;
  border-top: 10px;
  border-right: 3px;
  border-left: 3px;
  border-bottom: 3px;
  border-color: #000000;
  border-style: solid;
  border-radius: 9999px;
}

.token:focus-visible {
  outline: solid #5c2dd5;
}

.chrono {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-top: 3px;
  border-right: 3px;
  border-left: 3px;
  border-bottom: 10px;
  border-color: #000000;
  border-style: solid;
  border-radius: 20px;
}

.chronop1 {
  color: #ffffff;
  background-color: #fd6687;
}
.chronop2 {
  color: #000000;
  background-color: #ffce67;
}

.chronosection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 60px;
}
